body {
  color: white;
  background-color: darkblue;
}
.resultado {
  color: yellow;
  background-color: darkred;
}

.resultadoVotos {
  color: white;
  background-color: rgb(0, 67, 139);
}

.left-align {
  text-align: left;
}

.center-text {
  text-align: center;
}
